.game-chess {
	width: 100%;
	outline: none;
}
.piece-417db {
	z-index: 10000;
}
.game-chess .chess-info {
	background: #eee;
	color: #000;
	margin: 10px 0;
	padding: 15px;
}
.game-chess .move-history {
	overflow: auto;
	width: 100%;
	color: #000;
	background: #f0d9b5;
	margin: 10px 0;
	padding: 10px;
}
.game-chess .move-history span {
	display: inline-block;
	margin-right: 5px;
}
.game-chess .new-game {
	padding: 15px;
	margin: 10px 0;
	border: solid 1px #888;
	border-radius: 5px;
}
.game-chess .new-game input {
	margin: 0 10px;
}
.game-chess .new-game label {
	margin-top: 10px;
}
.game-chess .btn {
	margin-right: 10px;
}
.game-chess .bar {
	display: flex;
	justify-content: space-around;
}
.game-chess .player {
	display: flex;
	align-items: center;
	height: 45px;
}
.game-chess .player.turn {
	background: #fff;
	border-radius: 5px;
}
.game-chess .player .icon {
	padding: 0 !important;
	margin-left: 10px;
}
.game-chess .player.turn .on { display: block; }
.game-chess .player.turn .off { display: none; }
.game-chess .player:not(.turn) .on { display: none; }
.game-chess .player:not(.turn) .off { display: block; }
.game-chess .player img {
	height: 32px;
	margin: 0 10px;
}
.game-chess .player .msg {
	background: #b58863;
	color: #fff;
	padding: 10px;
	margin-left: 10px;
}
.game-chess .player .avatar-default {
	font-size: 32px;
	margin: 0 10px;	
}
.game-chess .stats {
	padding: 10px 10px 0;
	text-align: end;
}